@import url("https://fonts.googleapis.com/css2?family=Montserrat:ital,wght@0,100..900;1,100..900&display=swap");

* {
  -webkit-box-sizing: border-box;
  box-sizing: border-box;
}

html {
  scroll-behavior: smooth;
  background: #fefffc;

  color: #2e351b;
}

body {
  margin: 0;
}

h1,
h2,
h3,
h4,
h5,
h6,
p {
  margin: 0;
}

ul,
ol {
  margin: 0;
  padding: 0;
  list-style: none;
}
dl,
dt,
dd {
  margin: 0;
  padding: 0;
}
img {
  display: block;
  height: auto;
}
figure {
  margin: 0;
  padding: 0;
  border: 0;
}
.list {
  list-style: none;
}

button,
a {
  cursor: pointer;
}

.button:hover {
  scale: 120%;
}

.y-f-header.is-open .y-f-header-background {
  left: 0;
}
.y-f-header-button-wrapper {
  margin-left: auto;
}
.y-f-header-icon {
  display: none;
}

.y-f-header-icon-button {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  background-color: transparent;
  border: none;
  border-radius: 50%;
}
.y-f-navigation-list.is-open {
  right: 0;
}
.y-f-header-icon-menu {
  display: block;
}

.y-f-header-icon-button.is-open .y-f-header-icon-menu {
  display: none;
}

.y-f-header-icon-button.is-open .y-f-header-icon-close {
  display: block;
}

.y-f-header {
  position: fixed;
  width: 100%;
  z-index: 5;
  transition: background-color 0.3s ease;
  background: transparent;
  display: flex;
  height: 76px;
  background: #202e02;
}

.y-f-header-background {
  position: absolute;
  top: 0;
  right: 0;
  bottom: 0;
  left: 100%;
  z-index: -1;
  transition: left 0.3s ease;
  background: #202e02;
}
.y-f-header.is-open .y-f-header-background {
  left: 0;
}
.y-f-header-button-wrapper {
  margin-right: auto;
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.y-f-header-icon-menu {
  display: block;
}

.y-f-header-icon-button.is-open .y-f-header-icon-menu {
  display: none;
}

.y-f-header-icon-button.is-open .y-f-header-icon-close {
  display: block;
}

.y-f-navigation {
  display: -ms-flexbox;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
  -ms-flex-direction: column;
  flex-direction: column;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
  -webkit-box-flex: 1;
  -ms-flex: 1;
  flex: 1;
  padding: 16px;
  position: relative;
}

.y-f-navigation-list {
  display: flex;
  flex-direction: column;
  align-items: end;
  position: absolute;
  top: 100%;
  right: -100%;
  width: 100%;
  height: auto;
  transition: 0.3s;
  z-index: 999;
  padding: 16px;

  gap: 12px;
  background: #202e02;
}

.y-f-navigation-list.is-open {
  right: 0;
}

.y-f-navigation-link {
  transition: all 0.3s ease-in-out;
  text-decoration: none;
  color: #fefffc;
  font-family: Montserrat;
  font-weight: 400;
  font-style: Regular;
  font-size: 20px;
  leading-trim: NONE;
  line-height: 150%;
  letter-spacing: 0%;
  text-align: right;
}

.y-f-navigation-link:hover,
.y-f-navigation-link:focus {
  color: #bfff00;
}

.y-f-header.is-open {
  background-color: transparent;
}

.y-f-navigation-img {
  display: none;
}

@media screen and (min-width: 1202px) {
  .y-f-navigation-img {
    display: flex;
    margin-right: 200px;
  }
  .y-f-header-icon-title {
    display: none;
  }
  .y-f-header-button-wrapper {
    display: none;
  }
  .y-f-header {
    width: 100%;
    height: 96px;

    display: flex;
    align-items: center;
    justify-content: center;
    z-index: 1000;
  }

  .y-f-header-background {
  }
  .y-f-header-icon-button {
    display: none;
  }
  .y-f-navigation {
    display: flex;
    flex-direction: row;
    flex: 1;
    padding: 0;
    width: 1440px;
    margin: auto;
  }

  .y-f-navigation-list {
    background-color: transparent;
    flex-direction: row;
    display: flex;
    position: static;
    width: 1440px;
    margin: auto;
    padding-block: 0;
    flex: 1;
    gap: 24px;
    height: 0px;
    display: flex;
    justify-content: center;
    align-items: center;
    justify-content: center;
    padding: 0;
  }

  .y-f-navigation-link {
    font-family: Montserrat;
    font-weight: 400;
    font-style: Regular;
    font-size: 24px;
    leading-trim: NONE;
    line-height: 140%;
    letter-spacing: 0%;
  }

  .y-f-navigation-item-desk {
    display: none;
  }
}
.y-f-home {
  width: 375px;
  height: 830px;
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center;
  background-image: url("/img/home/Frame\ 40067.png");
  margin: auto;
}
.y-f-home-container {
  width: 375px;
  padding: 116px 16px 0px;
  margin: auto;
}

.y-f-home-container-top {
  display: flex;
  flex-direction: column;
  align-items: start;
}

.y-f-home-title {
  font-family: Montserrat;
  font-weight: 600;
  font-style: SemiBold;
  font-size: 32px;
  leading-trim: NONE;
  line-height: 150%;
  letter-spacing: 0%;
  vertical-align: middle;
}

.y-f-home-text {
  font-family: Montserrat;
  font-weight: 400;
  font-style: Regular;
  font-size: 14px;
  leading-trim: NONE;
  line-height: 150%;
  letter-spacing: 0%;
  vertical-align: middle;
  padding: 314px 16px 56px;
}

.y-f-home-link {
  background: #bfff00;
  width: 343px;
  border-radius: 12px;
  padding-top: 12px;
  padding-right: 24px;
  padding-bottom: 12px;
  padding-left: 24px;
  display: block;
  font-family: Montserrat;
  font-weight: 600;
  font-style: SemiBold;
  font-size: 20px;
  leading-trim: NONE;
  line-height: 150%;
  letter-spacing: 0%;
  vertical-align: middle;
  color: #2e351b;
  text-decoration: none;
  text-align: center;

  transition: all 0.3s ease-in-out;
}

.y-f-home-link:hover {
  background: #d9ff66;
}

@media screen and (min-width: 1202px) {
  .y-f-home {
    width: 1440px;
    height: 768px;
    background-image: url("/img/home/Frame\ 40068.png");
  }
  .y-f-home-container {
    width: 1440px;
    padding: 200px 72px 0px;
  }
  .y-f-home-container-top {
    display: flex;
    flex-direction: column;
  }

  .y-f-home-title {
    font-family: Montserrat;
    font-weight: 600;
    font-style: SemiBold;
    font-size: 48px;
    leading-trim: NONE;
    line-height: 150%;
    letter-spacing: 0%;
    vertical-align: middle;
  }

  .y-f-home-text {
    font-family: Montserrat;
    font-weight: 400;
    font-style: Regular;
    font-size: 24px;
    leading-trim: NONE;
    line-height: 150%;
    letter-spacing: 0%;
    vertical-align: middle;
    padding: 72px 24px;
    width: 636px;
  }
  .y-f-home-link {
    width: 306px;

    border-radius: 16px;
    padding-top: 16px;
    padding-right: 24px;
    padding-bottom: 16px;
    padding-left: 24px;
    font-family: Montserrat;
    font-weight: 600;
    font-style: SemiBold;
    font-size: 24px;
    leading-trim: NONE;
    line-height: 150%;
    letter-spacing: 0%;
    text-align: center;
    vertical-align: middle;
    margin: 0 auto;
  }
}

.y-f-about-container {
  width: 375px;
  padding: 80px 16px 0px;
  margin: auto;
}
.y-f-about-title {
  width: 343px;
  height: fit-content;
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center;
  background-image: url("/img/about/Group\ 2.png");
  font-family: Montserrat;
  font-weight: 500;
  font-style: Medium;
  font-size: 32px;
  leading-trim: NONE;
  line-height: 150%;
  letter-spacing: 0%;
  text-align: center;
  vertical-align: middle;
  padding: 5px 0;
}
.y-f-about-title {
  width: 343px;
  background-repeat: no-repeat;
  background-size: 100% 100%;
  background-position: center;
  background-image: url("/img/about/Group 2.png");
  font-family: Montserrat;
  font-weight: 500;
  font-size: 32px;
  line-height: 150%;
  text-align: center;
  padding: 5px 0;

  height: auto;
}

.y-f-about-title-text {
  font-family: Montserrat;
  font-weight: 500;
  font-style: Medium;
  font-size: 16px;
  leading-trim: NONE;
  line-height: 150%;
  letter-spacing: 0%;
  vertical-align: middle;
  padding-top: 27px;
}
.y-f-about-text {
  font-family: Montserrat;
  font-weight: 400;
  font-style: Regular;
  font-size: 16px;
  leading-trim: NONE;
  line-height: 150%;
  letter-spacing: 0%;
  vertical-align: middle;
  padding-top: 20px;
}
.y-f-uniqueness-list {
  padding-top: 16px;
  display: flex;
  flex-direction: column;
  gap: 12px;
}
.y-f-uniqueness-item {
  gap: 8px;
  border-radius: 12px;
  padding-top: 12px;
  padding-right: 16px;
  padding-bottom: 12px;
  padding-left: 16px;
  display: flex;
  align-items: center;
  border: 1px solid #546030;
  font-family: Montserrat;
  font-weight: 400;
  font-style: Regular;
  font-size: 16px;
  leading-trim: NONE;
  line-height: 150%;
  letter-spacing: 0%;
  vertical-align: middle;

  background: linear-gradient(0deg, #f9fbf5, #f9fbf5),
    linear-gradient(0deg, rgba(255, 255, 255, 0.7), rgba(255, 255, 255, 0.7));
}
.y-f-uniqueness-img {
  width: 20px;
  height: 20px;
}

@media screen and (min-width: 1202px) {
  .y-f-about-container {
    width: 1440px;
    padding: 100px 72px 0;
  }
  .y-f-about-title {
    width: fit-content;
    height: fit-content;

    font-family: Montserrat;
    font-weight: 500;
    font-style: Medium;
    font-size: 40px;
    leading-trim: NONE;
    line-height: 150%;
    letter-spacing: 0%;
    text-align: center;
    vertical-align: middle;
    min-width: 464px;
    padding: 13px 10px;
    margin: 0 auto;
    margin: auto;
  }
  .y-f-about-title-text {
    font-family: Montserrat;
    font-weight: 500;
    font-style: Medium;
    font-size: 24px;
    leading-trim: NONE;
    line-height: 150%;
    letter-spacing: 0%;
    vertical-align: middle;

    padding-top: 44px;
  }
  .y-f-about-text {
    font-family: Montserrat;
    font-weight: 400;
    font-style: Regular;
    font-size: 24px;
    leading-trim: NONE;
    line-height: 150%;
    letter-spacing: 0%;
    vertical-align: middle;

    padding-top: 24px;
  }
  .y-f-uniqueness-list {
    padding-top: 20px;
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    gap: 24px;
  }
  .y-f-uniqueness-item {
    width: 416px;
    height: 78px;
    gap: 12px;
    border-radius: 16px;
    padding: 23px;
    font-family: Montserrat;
    font-weight: 400;
    font-style: Regular;
    font-size: 20px;
    leading-trim: NONE;
    line-height: 150%;
    letter-spacing: 0%;
    vertical-align: middle;
  }
  .y-f-uniqueness-img {
    width: 24px;
    height: 24px;
  }
}

.y-f-why-container {
  width: 375px;
  margin: auto;
  padding: 67px 16px 0;
}
.y-f-why-list {
  padding: 16px 0 32px;
  display: flex;
  flex-direction: column;
  gap: 12px;
}
.y-f-why-item {
  border: 1px solid #879b4e;

  border-radius: 12px;
  padding: 11px 15px;
  font-family: Montserrat;
  font-weight: 400;
  font-style: Regular;
  font-size: 16px;
  leading-trim: NONE;
  line-height: 150%;
  letter-spacing: 0%;
  vertical-align: middle;
}
.y-f-why-link {
  text-decoration: none;
  color: #2e351b;
  font-family: Montserrat;
  font-weight: 600;
  font-style: SemiBold;
  font-size: 20px;
  leading-trim: NONE;
  line-height: 150%;
  letter-spacing: 0%;
  text-align: center;
  vertical-align: middle;
  border: 1px solid #202e02;
  width: 343px;
  display: block;
  border-radius: 12px;
  padding-top: 11px;

  padding-bottom: 11px;
  transition: all 0.3s ease-in-out;
}

.y-f-why-link:hover {
  background: #f3f7ea;
}
@media screen and (min-width: 1202px) {
  .y-f-why-container {
    width: 1440px;
    padding: 100px 72px 0;
  }
  .y-f-why-list {
    padding: 20px 0 40px;
    display: flex;
    flex-direction: row;
    gap: 24px;
  }
  .y-f-why-item {
    width: 416px;
    height: 92px;
    border-radius: 16px;
    padding: 15px 23px;
    font-family: Montserrat;
    font-weight: 400;
    font-style: Regular;
    font-size: 20px;
    leading-trim: NONE;
    line-height: 150%;
    letter-spacing: 0%;
    vertical-align: middle;
  }
  .y-f-why-link {
    width: 306px;
    border-radius: 16px;
    padding: 15px 23px;
    font-family: Montserrat;
    font-weight: 600;
    font-style: SemiBold;
    font-size: 24px;
    leading-trim: NONE;
    line-height: 150%;
    letter-spacing: 0%;
    text-align: center;
    vertical-align: middle;
    margin: 0 auto;
  }
  .y-f-why-text {
    width: 636px;
  }
}

.y-f-how {
  margin: auto;
  width: 375px;
  padding: 67px 16px 0;
}
.y-f-how-container {
  margin: auto;
  background-repeat: no-repeat;
  background-image: url("/img/Frame\ 40062.png");
}

.y-f-how-item {
  margin-top: 20px;
  box-shadow: 0px 4px 25px 0px #929d724d;
  border: 1px solid #879b4e;
  background: #f3f5f0;

  border-radius: 12px;
  padding: 16px;
  border-width: 1px;
}

.y-f-how-text-bold {
  font-family: Montserrat;
  font-weight: 400;
  font-style: Regular;
  font-size: 16px;
  leading-trim: NONE;
  line-height: 150%;
  letter-spacing: 0%;
  vertical-align: middle;
}

.y-f-how-text {
  font-family: Montserrat;
  font-weight: 400;
  font-style: Regular;
  font-size: 14px;
  leading-trim: NONE;
  line-height: 150%;
  letter-spacing: 0%;
  vertical-align: middle;
  padding-top: 8px;
}
.y-f-how-text-two {
  font-family: Montserrat;
  font-weight: 400;
  font-style: Regular;
  font-size: 16px;
  leading-trim: NONE;
  line-height: 150%;
  letter-spacing: 0%;
  vertical-align: middle;
  padding-top: 271px;
}

@media screen and (min-width: 1202px) {
  .y-f-how {
    width: 1440px;
    padding: 100px 72px 0;
  }

  .y-f-how-container {
    margin: auto;
    background-repeat: no-repeat;
    background-image: url("/img/Frame\ 40026.png");
    height: 464px;
  }

  .y-f-how-item {
    margin-top: 24px;
    width: 636px;

    border-radius: 16px;
    padding: 23px;
  }

  .y-f-how-text-bold {
    font-family: Montserrat;
    font-weight: 400;
    font-style: Regular;
    font-size: 24px;
    leading-trim: NONE;
    line-height: 150%;
    letter-spacing: 0%;
    vertical-align: middle;
  }

  .y-f-how-text {
    font-family: Montserrat;
    font-weight: 400;
    font-style: Regular;
    font-size: 20px;
    leading-trim: NONE;
    line-height: 150%;
    letter-spacing: 0%;
    vertical-align: middle;

    padding-top: 16px;
  }
  .y-f-how-text-two {
    font-family: Montserrat;
    font-weight: 400;
    font-style: Regular;
    font-size: 24px;
    leading-trim: NONE;
    line-height: 150%;
    letter-spacing: 0%;
    vertical-align: middle;
    width: 636px;
    padding-top: 24px;
  }
}
.y-f-characters {
  padding-top: 80px;
}
.y-f-characters-container {
  margin: auto;
  width: 375px;
  background: #2b3219;
  color: #fefffc;

  display: flex;
  flex-direction: column;
}

.y-f-characters-item {
  padding: 32px 16px;
}

.y-f-characters-text {
  border-top: 1px solid #f3f7ea;
}

@media screen and (min-width: 1202px) {
  .y-f-characters {
    padding-top: 116px;
  }
  .y-f-characters-container {
    margin: auto;
    width: 1440px;
    background: #2b3219;
    color: #fefffc;

    display: flex;
    flex-direction: row;
  }

  .y-f-characters-item {
    width: 720px;
    padding-top: 40px;
    padding-right: 32px;
    padding-bottom: 40px;
    padding-left: 72px;
  }

  .y-f-characters-text {
    bottom: none;
    border-left: 1px solid #f3f7ea;

    padding-top: 40px;
    padding-right: 72px;
    padding-bottom: 40px;
    padding-left: 32px;
    border-left-width: 1px;
  }
}

.y-f-reviews-container {
  margin: auto;
  padding: 70px 16px 80px;
  width: 375px;
}
.y-f-reviews-list {
  padding: 20px 0 32px;
}

.y-f-reviews-item {
  margin: 0 5px;
  border: 1px solid #879b4e;
  background: #f3f7ea;
  width: 343px;
  height: 229px;
  border-radius: 16px;
  padding: 15px;
}

.y-f-reviews-text-bold {
  font-family: Montserrat;
  font-weight: 400;
  font-style: Italic;
  font-size: 16px;
  leading-trim: NONE;
  line-height: 150%;
  letter-spacing: 0%;
  height: 168px;
}

.y-f-reviews-text {
  font-family: Montserrat;
  font-weight: 500;
  font-style: Medium;
  font-size: 14px;
  leading-trim: NONE;
  line-height: 150%;
  letter-spacing: 0%;
  text-align: right;
  vertical-align: middle;
  padding-top: 8px;
}
.slick-dots {
  margin-top: 32px;
  display: flex;
  justify-content: center;
  gap: 16px;
}

.slick-dots li {
  list-style: none;
  width: 30px;
  height: 29px;
}

.slick-dots li button {
  width: 100%;
  height: 100%;
  border: none;
  background: url("/img/Group\ 6.png") no-repeat center/cover;
  padding: 0;
  font-size: 0;
}

.slick-dots li button:before {
  display: none;
}

.slick-dots li.slick-active button {
  background: url("/img/Group\ 4.png") no-repeat center/cover;
}

@media screen and (min-width: 1202px) {
  .y-f-reviews-container {
    margin: auto;
    padding: 100px 72px 116px;
    width: 1440px;
  }
  .y-f-reviews-list {
    padding: 24px 0 40px;
  }

  .y-f-reviews-item {
    margin: 0 12px;
    width: 526px;
    height: 250px;

    border-radius: 16px;
    padding: 23px;
  }

  .y-f-reviews-text-bold {
    font-family: Montserrat;
    font-weight: 400;
    font-style: Italic;
    font-size: 20px;
    leading-trim: NONE;
    line-height: 150%;
    letter-spacing: 0%;
    vertical-align: middle;

    height: 150px;
  }

  .y-f-reviews-text {
    font-family: Montserrat;
    font-weight: 500;
    font-style: Medium;
    font-size: 24px;
    leading-trim: NONE;
    line-height: 150%;
    letter-spacing: 0%;
    text-align: right;
    vertical-align: middle;

    padding-top: 16px;
  }
  .slick-dots {
    margin-top: 0px;
  }

  .slick-dots li {
    display: none;
  }
  .progress-bar {
    width: 100%;
    height: 9px;
    background: #202e024d;

    border-radius: 16px;
    overflow: hidden;
    margin-top: 10px;
  }

  .progress-fill {
    height: 100%;
    width: 0%;
    background: #202e02;
    border-radius: 16px;
    transition: width 0.5s ease;
  }
}

.y-f-container {
  padding: 116px 16px 40px;
  width: 375px;
  margin: auto;
  font-family: Montserrat;
  font-weight: 400;
  font-style: Regular;
  font-size: 14px;
  leading-trim: NONE;
  line-height: 150%;
  letter-spacing: 0%;
}

.y-f-container h1 {
  font-family: Montserrat;
  font-weight: 700;
  font-style: Bold;
  font-size: 28px;
  leading-trim: NONE;
  line-height: 150%;
  letter-spacing: 0%;
  text-align: center;
  margin-bottom: 24px;
}

.y-f-container h2 {
  margin-top: 20px;
  font-family: Montserrat;
  font-weight: 600;
  font-style: SemiBold;
  font-size: 20px;
  leading-trim: NONE;
  line-height: 150%;
  letter-spacing: 0%;
}

.y-f-container h3 {
  margin-top: 20px;
}

.y-f-container ul {
  margin-top: 10px;
  list-style-type: disc;
  margin-left: 20px;
}

.y-f-container ul li {
  margin-bottom: 10px;
}
.y-f-container p {
  margin-top: 10px;
}
.y-f-container a {
  text-decoration: none;
  color: inherit;
  transition: all 0.3s ease-in-out;
}

.y-f-container a:hover {
  text-decoration: underline;
}

strong {
  color: #000;
}
@media screen and (min-width: 1202px) {
  .y-f-container {
    padding: 168px 72px 116px;
    width: 1440px;
    margin: auto;
    font-family: Montserrat;
    font-weight: 400;
    font-style: Regular;
    font-size: 24px;
    leading-trim: NONE;
    line-height: 150%;
    letter-spacing: 0%;
  }

  .y-f-container h1 {
    font-family: Montserrat;
    font-weight: 700;
    font-style: Bold;
    font-size: 48px;
    leading-trim: NONE;
    line-height: 130%;
    letter-spacing: 0%;
    text-align: center;
  }

  .y-f-container h2 {
    margin-top: 20px;
    font-family: Montserrat;
    font-weight: 600;
    font-style: SemiBold;
    font-size: 32px;
    leading-trim: NONE;
    line-height: 150%;
    letter-spacing: 0%;
  }

  .y-f-container h3 {
    margin-top: 20px;
    font-family: Montserrat;
    font-weight: 600;
    font-style: SemiBold;
    font-size: 24px;
    leading-trim: NONE;
    line-height: 150%;
    letter-spacing: 0%;
  }

  .y-f-container ul {
    margin-top: 20px;
  }

  .y-f-container ul li {
    margin-bottom: 10px;
  }
  .y-f-container p {
    margin-top: 20px;
  }
}

.y-f-footer-container {
  width: 375px;
  margin: auto;
  padding: 32px;
  display: flex;
  flex-direction: column;

  gap: 12px;
  background: #202e02;
  color: #fefffc;
}

.y-f-footer-wrapper {
  display: flex;
  flex-direction: row;
  align-items: center;
  gap: 8px;
}

.y-f-footer-text {
  font-family: Montserrat;
  font-weight: 400;
  font-style: Regular;
  font-size: 14px;
  leading-trim: NONE;
  line-height: 130%;
  letter-spacing: 0%;
  text-align: center;
  vertical-align: middle;
  text-decoration: underline;
  text-decoration-style: solid;
  text-decoration-offset: 0%;
  text-decoration-thickness: 0%;
  text-decoration-skip-ink: auto;

  color: inherit;
}

.y-f-footer-copyright {
  font-family: Montserrat;
  font-weight: 400;
  font-style: Regular;
  font-size: 14px;
  leading-trim: NONE;
  line-height: 130%;
  letter-spacing: 0%;
  text-align: center;
  padding-top: 12px;
}

.y-f-footer-list {
  display: flex;
  flex-direction: column;
  gap: 8px;
}
.y-f-footer-one {
  font-family: Montserrat;
  font-weight: 500;
  font-style: Medium;
  font-size: 14px;
  leading-trim: NONE;
  line-height: 150%;
  letter-spacing: 0%;
}
.y-f-footer-item-two {
  font-family: Montserrat;
  font-weight: 400;
  font-style: Regular;
  font-size: 14px;
  leading-trim: NONE;
  line-height: 150%;
  letter-spacing: 0%;
  color: #fefffc;
  text-decoration: none;
}
.y-f-footer-item {
  font-family: Montserrat;
  font-weight: 500;
  font-style: Medium;
  font-size: 14px;
  leading-trim: NONE;
  line-height: 150%;
  letter-spacing: 0%;
}
@media screen and (min-width: 1202px) {
  .y-f-footer-container {
    width: 1440px;
    padding: 24px 32px;

    gap: 16px;
  }

  .y-f-footer-wrapper {
    display: flex;
    flex-direction: row;
    justify-content: center;
    gap: 12px;
  }

  .y-f-footer-text {
    font-family: Montserrat;
    font-weight: 400;
    font-style: Regular;
    font-size: 16px;
    leading-trim: NONE;
    line-height: 150%;
    letter-spacing: 0%;
    text-align: center;
    text-decoration: underline;
    text-decoration-style: solid;
    text-decoration-offset: 0%;
    text-decoration-thickness: 0%;
    text-decoration-skip-ink: auto;
  }

  .y-f-footer-copyright {
    font-family: Montserrat;
    font-weight: 400;
    font-style: Regular;
    font-size: 16px;
    leading-trim: NONE;
    line-height: 150%;
    letter-spacing: 0%;
    text-align: center;
    padding-top: 16px;
  }

  .y-f-footer-one {
    font-family: Montserrat;
    font-weight: 500;
    font-style: Medium;
    font-size: 16px;
    leading-trim: NONE;
    line-height: 150%;
    letter-spacing: 0%;
  }
  .y-f-footer-item-two {
    font-family: Montserrat;
    font-weight: 400;
    font-style: Regular;
    font-size: 16px;
    leading-trim: NONE;
    line-height: 150%;
    letter-spacing: 0%;
  }
  .y-f-footer-item {
    font-family: Montserrat;
    font-weight: 500;
    font-style: Medium;
    font-size: 16px;
    leading-trim: NONE;
    line-height: 150%;
    letter-spacing: 0%;
  }
}

.y-f-cookie-popup {
  position: fixed;
  bottom: 10px;
  width: 375px;
  padding: 16px 20px;
  border-radius: 16px;
  background: #ffffff;

  z-index: 1000;
  display: none;
}

.y-f-cookie-popup-text-two {
  font-family: Montserrat;
  font-weight: 400;
  font-style: Regular;
  font-size: 14px;
  leading-trim: NONE;
  line-height: 150%;
  letter-spacing: 0%;
  color: #2e351b;
}

.y-f-cookie-button-container {
  margin: auto;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  gap: 16px;
}

.y-f-cookie-button {
  border: none;
  background-color: transparent;
  border: 2px solid #bfff00;
  width: 134px;

  border-radius: 12px;
  padding-top: 8px;
  padding-bottom: 8px;
  border-width: 2px;
  font-family: Montserrat;
  font-weight: 400;
  font-style: Regular;
  font-size: 14px;
  leading-trim: NONE;
  line-height: 150%;
  letter-spacing: 0%;
  vertical-align: middle;
  color: #2e351b;
}

#accept-cookies {
  background: #bfff00;
}

.y-f-close-popup {
  position: absolute;
  top: 10px;
  right: 10px;
  font-size: 20px;
  cursor: pointer;
}
.y-f-cookie-popup-container {
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 8px;
}

@media screen and (min-width: 1202px) {
  .y-f-cookie-popup-container {
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 460px;
  }

  .y-f-cookie-popup-text-two {
    font-family: Montserrat;
    font-weight: 400;
    font-style: Regular;
    font-size: 18px;
    leading-trim: NONE;
    line-height: 150%;
    letter-spacing: 0%;

    width: 547px;
  }

  .y-f-cookie-button-container {
    padding: 0;
    margin: auto;
    display: flex;
    flex-direction: row;
  }

  .y-f-cookie-popup {
    position: fixed;
    bottom: 10px;
    width: 1440px;
    padding: 20px 30px;
    display: none;
  }
  .y-f-cookie-button {
    width: 183px;
    border-radius: 16px;
    padding-top: 12px;
    padding-bottom: 12px;
    border-width: 2px;
    font-family: Montserrat;
    font-weight: 400;
    font-style: Regular;
    font-size: 18px;
    leading-trim: NONE;
    line-height: 150%;
    letter-spacing: 0%;
    vertical-align: middle;
  }
}
